@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7fg3nu');
  src:  url('fonts/icomoon.eot?7fg3nu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7fg3nu') format('truetype'),
    url('fonts/icomoon.woff?7fg3nu') format('woff'),
    url('fonts/icomoon.svg?7fg3nu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-discord:before {
  content: "\e90e";
}
.icon-badge-inner:before {
  content: "\e904";
  color: #11804c;
}
.icon-badge-outer:before {
  content: "\e905";
  color: #109e5a;
}
.icon-badge-shadow:before {
  content: "\e906";
  color: #245237;
}
.icon-svb-coat:before {
  content: "\e907";
}
.icon-svb-star:before {
  content: "\e908";
}
.icon-globe:before {
  content: "\e900";
}
.icon-soccer-ball:before {
  content: "\e901";
}
.icon-soccer-field:before {
  content: "\e902";
}
.icon-home3:before {
  content: "\e903";
}
.icon-pushpin:before {
  content: "\e946";
}
.icon-location2:before {
  content: "\e948";
}
.icon-compass:before {
  content: "\e949";
}
.icon-display:before {
  content: "\e956";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-spinner2:before {
  content: "\e97b";
}
.icon-spinner3:before {
  content: "\e97c";
}
.icon-spinner4:before {
  content: "\e97d";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-key:before {
  content: "\e98d";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-magic-wand:before {
  content: "\e997";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-accessibility:before {
  content: "\e9b2";
}
.icon-target:before {
  content: "\e9b3";
}
.icon-shield:before {
  content: "\e9b4";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-list-numbered:before {
  content: "\e9b9";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-point-up:before {
  content: "\ea03";
}
.icon-point-right:before {
  content: "\ea04";
}
.icon-point-down:before {
  content: "\ea05";
}
.icon-point-left:before {
  content: "\ea06";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-question:before {
  content: "\ea09";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-github:before {
  content: "\eab0";
}
.icon-home2:before {
  content: "\e909";
}
.icon-office:before {
  content: "\e90a";
}
.icon-pencil2:before {
  content: "\e90b";
}
.icon-droplet:before {
  content: "\e90c";
}
.icon-paint-format:before {
  content: "\e90d";
}
.icon-pacman:before {
  content: "\e916";
}
.icon-spades:before {
  content: "\e917";
}
.icon-clubs:before {
  content: "\e918";
}
.icon-diamonds:before {
  content: "\e919";
}
.icon-compass1:before {
  content: "\e94a";
}
.icon-keyboard:before {
  content: "\e955";
}
.icon-display1:before {
  content: "\e957";
}
.icon-laptop:before {
  content: "\e959";
}
.icon-mobile1:before {
  content: "\e95a";
}
.icon-mobile2:before {
  content: "\e95b";
}
.icon-tablet:before {
  content: "\e95c";
}
.icon-tv:before {
  content: "\e95d";
}
.icon-undo:before {
  content: "\e965";
}
.icon-redo:before {
  content: "\e966";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-forward:before {
  content: "\e969";
}
.icon-reply:before {
  content: "\e96a";
}
.icon-quotes-left1:before {
  content: "\e979";
}
.icon-quotes-right1:before {
  content: "\e97e";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-mug:before {
  content: "\e9a2";
}
.icon-rocket1:before {
  content: "\e9a6";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-lab:before {
  content: "\e9aa";
}
.icon-shield1:before {
  content: "\e9b6";
}
.icon-switch:before {
  content: "\e9b7";
}
.icon-power-cord:before {
  content: "\e9bc";
}
.icon-clipboard1:before {
  content: "\e9bd";
}
.icon-list-numbered1:before {
  content: "\e9be";
}
.icon-list1:before {
  content: "\e9bf";
}
.icon-list21:before {
  content: "\e9c0";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-bookmark:before {
  content: "\e9d2";
}
.icon-bookmarks:before {
  content: "\e9d3";
}
.icon-star-half1:before {
  content: "\e9da";
}
.icon-star-full1:before {
  content: "\e9db";
}
.icon-heart:before {
  content: "\e9dc";
}
.icon-heart-broken:before {
  content: "\e9dd";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-github1:before {
  content: "\eab1";
}
.icon-html-five:before {
  content: "\eae4";
}
.icon-html-five2:before {
  content: "\eae5";
}
