.badge-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 112.5px;
    height: 117px;
    transform: translate(5px, -10px);
}

.badge-wrapper__title {
    position: absolute;
    font-size: 2.25rem;
    height: fit-content;
    display: flex;
    transform: translateY(50%);
    font-family: 'Big Shoulders Stencil Text';
    color: white;
}