.blog-teaser {

}

.blog-teaser__posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 118px 265px;
    grid-template-areas:
      "first first first first"
      "first first first first"
      "second second second second"
      "second second second second"
      "third third third third"
      "third third third third";
    padding: 0 4px 2em;

    @include breakpoint(lg) {
        grid-template-areas:
            "first first first first"
            "first first first first"
            "second second third third"
            "second second third third";
    }
}

.blog-teaser__post:nth-child(1) {
    grid-area: first;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include breakpoint(sm) {
        flex-direction: row;
    }

    .blog-teaser__post-subheadline {
        display: none;
        margin-top: 8px;
        font-size: 18px;

        @include breakpoint(sm) {
            display: block;
        }
    }

    .blog-teaser__post-image {
        width: 100%;
        height: 150px;
        object-fit: cover;

        @include breakpoint(sm) {
            width: 50%;
            height: auto;
            object-fit: contain;
        }
    }

    .blog-teaser__post-teaser-text {
        margin-top: 6px;
        @include line-clamp(4, 20px);

        @include breakpoint(sm) {
            @include line-clamp(6, 20px);
        }

        @include breakpoint(md) {
            @include line-clamp(8, 20px);
            margin-top: 12px;
        }
        
    }

    .blog-teaser__readmore {
        height: 42px;
        margin-left: 0;
        margin-top: 2em;
        position: absolute;
    }
}
.blog-teaser__readmore {
    width: 75%;
    height: 42px;
    margin-top: .5em;
    margin-left: calc( 25% / 2 );
    // position: absolute;
    // bottom: 10px;
    // right: calc( ( 50% / 2 ) / 2 );
}

.blog-teaser__post:nth-child(2) {
    grid-area: second;
    margin-top: 1em;
    margin-right: .5em;
}

.blog-teaser__post:nth-child(3) {
    grid-area: third;
    margin-left: .5em;
    margin-top: 1em;
}

.blog-teaser__post:nth-child(n+2):nth-child(-n+3) {
    display: flex;
    height: 156px;

    .blog-teaser__post-image {
        width: 35%;
        height: fit-content;
        place-self: center;
    }

    .blog-teaser__post-teaser-text {
        display: none
    }
}

.blog-teaser__post {
    background-color: white;
    border-radius: $border-radius;
    box-shadow: 4px 4px 2px 0px $color_shadow, inset -20px 5px 1px $color_svb-green-darker;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 180px;
    overflow: hidden;
    z-index: 1;

    @include breakpoint(sm) {
        
    }
}

.blog-teaser__modal {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // background: rgba(130,135,135,0.75);
    // left: 0;
    // height: 100%;
    // position: fixed;
    // top: 0;
    // width: 100%;
    // z-index: 1;
}

.blog-teaser__post-info {
    display: flex;
    flex-direction: column;
    height: max-content;
    padding: 1em 2em;
    position: relative;
    width: 100%;
    height: 100%;
}

.blog-teaser__post-image {
    width: 100%;
}

.blog-teaser__post-title {
    font-size: 24px;
    margin-top: 8px;
    width: fit-content;
}

.blog-teaser__post-subheadline {
    display: none;
    font-size: 20px;
    margin-top: 4px;
    @include breakpoint(xs) {
        display: block;
        @include line-clamp(2, 40px);
    }
}

.blog-teaser__post-teaser-container {
    margin-top: 14px;
    height: 84px;
    max-height: 84px;    
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-teaser__post-teaser-text {
    @include line-clamp(6, 40px);


    @include breakpoint(md) {
        @include line-clamp(6, 40px);

    }
}



.blog-teaser__modal--active {
    display: block;
}

.Modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: papayawhip;
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rebeccapurple;
  }