
.button {
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    font-family: 'Overpass';
    height: 30px;
    line-height: 30px;
    margin-right: 1em;
    padding: 0 2em;
}

.button--green {
    background-color: $color_svb-green-darker
}

.button--block {
    width: 100%;
}

.button--large {
    width: 400px;
}