.fullpage-slide {
    height: 1613px;
    width: 100%;
    height: 100%;
    position: relative;
}

.fullpage-slide--first {
    // background-color: $color_svb-green-darker;
}

.fullpage-slide--second {
    background-color: white;
    background-position-x: 50% -158px;
    background-position-y: bottom;
    position: relative;
}

.fullpage-slide__background {
    height: 1613px;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: color-burn;
    background-size: cover;
    width: 100%;
    height: 100%;
    object-fit: unset;
    opacity: .35;
    transform: scale(1.05);
    position: absolute;
    top: 0;
    z-index: -1;
}

.fullpage-slide__card-presentation {
    display: flex;
    justify-content: center;
}

.fullpage-slide__card {
    box-shadow: 0px 0px 20px 11px #00001442, 0px 20px 30px 11px #00001442;
    height: auto;
    width: 75%;

    @include breakpoint(xs) {
        width: auto;
        max-height: 485px;
        object-fit: contain;
    }

    @include breakpoint(md) {
        max-height: 520px;
    }

    @include breakpoint(lg) {
        max-height: unset;
        width: 30%;
    }

    @include breakpoint(xl) {
        width: 22.5%;
    }
}

.fullpage-slide__coat {
    font-size: 27em;
    opacity: .25;
    position: absolute;
    top: .125em;
}

.fullpage-slide__coat--left {
    transform: translateX(-50%);
}

.fullpage-slide__coat--right {
    right: 0;
    transform: translate(50%, 50%);
}

.fullpage-slide__card--front {
    // display: none;
}

.fullpage-slide__card--back {
    // display: none;
}

.fullpage-slide__card-animation-container {
    font-family: "Big Shoulders Stencil Text", cursive;
    font-size: 6em;
    font-weight: bold;
    height: 100%;
    padding-top: 1em;
    position: relative;
}

.fullpage-slide__text-animation {
    opacity: 0;
    animation-fill-mode: forwards;
    background-color: white;
    padding: 8px;
    width: max-content;
}

// animations triggered on active class:

.fullpage-slide.active {
    .fullpage-slide__card-animation {
        animation-name: slide1-cards-mobile;
        animation-delay: 4.5s;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        opacity: 0;

        @include breakpoint(lg) {
            animation-name: slide1-cards-desktop;
            animation-delay: 1s;
            animation-duration: 2s;
        }
    }

    .fullpage-slide__text-animation-container--1 {
        .fullpage-slide__text-animation-1 {
            animation-name: slide1-text-mobile;
            animation-duration: 4s;
            animation-delay: 1s;

            @include breakpoint(lg) {
                animation-name: slide1-text-desktop;
                animation-duration: 1.25s;
                animation-delay: 2.55s;
            }
        }

        .fullpage-slide__text-animation-2 {
            animation-name: slide1-text-mobile;
            animation-duration: 2.8s;
            animation-delay: 1.5s;
            animation-fill-mode: forwards;
            margin-top: 12px;
            

            @include breakpoint(lg) {
                animation-name: slide1-text-desktop;
                animation-duration: 2s;
                animation-delay: 3.5s;
                // transform: translate(0%, 100%);
            }
        }
        .fullpage-slide__text-animation-3 {
            animation-name: slide1-text-mobile;
            animation-duration: 1.5s;
            animation-delay: 2s;
            animation-fill-mode: forwards;
            margin-top: 12px;
            // transform: translate(0%,200%);

            @include breakpoint(lg) {
                animation-name: slide1-text-desktop;
                animation-duration: 1.25s;
                animation-delay: 4.75s;
            }
        }
    }

    .fullpage-slide__cta-button--start {
        animation-name: slide-cta;
        animation-duration: 2s;
        animation-delay: 6s;
        animation-fill-mode: forwards;
        border: 0;
        opacity: 0;
        position: absolute;
        z-index: 10;
        width: max-content;
        padding: 8px;
        height: 60px;
        font-size: 24px;
        left: 50%;
        transform: translate(-50%, -5px);

        @include breakpoint(md) {
            height: calc(185px / 2.5);
        }

        @include breakpoint(lg) {
            left: unset;
            height: 72px;
            font-size: 36px;
            transform: unset;
            right: 2.5%;
            width: 45%;
        }

        @include breakpoint(xl) {
            right: 5%;
            width: 40%;
        }
    }
}

@keyframes slide1-cards-mobile {
    0%  {opacity: 0;}
    25%  {opacity: 1;}
    50%  {opacity: 1;}
    100% {opacity: 1;}
}

@keyframes slide1-cards-desktop {
    0%  {opacity: 0;}
    25%  {opacity: 1;}
    50%  {opacity: 1; transform: translateX(0)}
    100% {opacity: 1; transform: translateX(-25%);}
}

@keyframes slide1-text-mobile {
    40%  {opacity: 1;}
    75%  {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes slide1-text-desktop{
    40%  {opacity: 1;}
    60%  {opacity: 1;}
    100% {opacity: 1;}
}

@keyframes slide-cta {
    0%  {opacity: 0;}
    100% {opacity: 1;}
}

.fullpage__slide.active {
    .fullpage-slide--second {
        .fullpage-slide__text-animation-container--2 {
            .fullpage-slide__text-animation {
                animation-name: slide2-text;
                animation-duration: 1.5s;
                animation-fill-mode: forwards;
                left: 50%;
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
            }

            .fullpage-slide__text-animation-4 {
                animation-delay: 1s;
            }

            .fullpage-slide__text-animation-5 {
                animation-delay: 2.5s;
            }

            .fullpage-slide__text-animation-6 {
                animation-delay: 4s;
            }

            .fullpage-slide__text-animation-7 {
                animation-delay: 5.5s;
            }
        }

        .fullpage-slide__badge-animation-container {
            animation-name: slide2-badge;
            animation-duration: 1.5s;
            animation-delay: 7.5s;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes slide2-text {
    40%  {opacity: 1;}
    60%  {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes slide2-badge {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fullpage-slide__cta-button {
    animation-fill-mode: forwards;
    background-color: #ebc71d;
    border-radius: 35px;
    border: 0;
    bottom: calc(185px / 3.25);
    box-shadow: 0px 0px 2px 3px white;
    // font-size: 2.25em;
    font-family: 'Goldman', cursive;
    font-weight: bold;
    opacity: 0;
    position: absolute;
    transition: transform 250ms;
    z-index: 10;
    font-size: 18px;
    height: calc(185px / 3);

    @include breakpoint(xs) {
        font-size: 24px;
    }

    @include breakpoint(sm) {
        font-size: 32px;
        height: calc(185px / 2.5);
    }

    @include breakpoint(lg) {
        font-size: 32px;
    }
}

.fullpage-slide__cta-button--website-50 {
    animation: unset;
    left: 5%;
    opacity: 1;
    width: 40%;
}

.fullpage-slide__cta-button--marketplace-50 {
    animation: unset;
    opacity: 1;
    right: 5%;
    width: 40%;
}

.fullpage-slide__cta-button--website {
    animation-name: slide-cta;
    animation-duration: 1.5s;
    animation-delay: 8.5s;
    animation-fill-mode: forwards;
    width: 80%;
    left: 10%;

    @include breakpoint(sm) {
        left: 17.5%;
        width: 65%;
    }

    @include breakpoint(md) {
        left: 25%;
        width: 50%;
    }
}

.fullpage-slide__text-animation-container {
    pointer-events: none;
}

.fullpage-slide__text-animation-container--1 {
    padding: 6px;
    font-size: 40px;

    @include breakpoint(xs) {
        font-size: 50px;
    }

    @include breakpoint(sm) {
        margin-left: 16px;
        font-size: 50px;
    }

    @include breakpoint(md) {
        font-size: 64px;
    }

    @include breakpoint(lg) {
        margin-left: 40%;
        padding: 0 4.5%;
        font-size: 60px;
    }

    @include breakpoint(xl) {
        font-size: 88px;
    }
}

.fullpage-slide__text-animation-container--2 {
    pointer-events: none;
    position: absolute;
    height: calc(100% - 185px);
    top: 0;
    left: 0;
    font-size: 24px;
    width: 100%;

    @include breakpoint(xs) {
        font-size: 32px;
    }

    @include breakpoint(sm) {
        font-size: 36px;
    }

    @include breakpoint(md) {
        font-size: 5em;
    }
}

.fullpage-slide__badge-animation-container {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    opacity: 0;
    padding: 0 3em;
    position: absolute;
    top: calc( ( 100% - 185px ) / 4);
    transform: translateY(-50%);
    width: 100%;
}

.fullpage-slide__badge-animation-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50px);
    color: black;
    font-size: 3.25em;
    text-align: center;
    text-shadow: -3px -3px 1px white;
    background-color: white;
    border: 4px solid $color_svb-red;
    border-radius: 5px;
    padding: .125em;
}

.fullpage-slide__badge-animation {
    position: relative;
    padding: 2em 0;

    .icon {
        font-size: 5em;
        position: absolute;
        color: white;
        left: 50%;
        transform: translate(-50%, 50%);
    }
}

.fullpage-slide__cta-button:hover {
    transform: scale(1.1);
}

.fullpage-slide__infos {
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 12px 8px 0 8px;
    border-radius: 35px;
    position: absolute;
    left: 50%;
    top: calc( ( 100% - 185px ) / 2 );
    transform: translate(-50%, -50%);

    @include breakpoint(sm) {
        padding: 2em;
    }
}

.fullpage-slide__info-title {
    box-shadow: inset -16px -5px 0px $color_svb-green-darker;
    font-size: 18px;
    padding-bottom: .5em;
    padding-right: 16px;

    @include breakpoint(sm) {
        font-size: 24px;
    }

    @include breakpoint(md) {
        font-size: 32px;
        padding-right: 12px;
        width: 90%;
    }
}

.fullpage-slide__info-subtitle{
    font-size: 16px;
    margin-top: 8px;

    @include breakpoint(xs) {
        font-size: 20px;
    }

    @include breakpoint(sm) {
        margin-top: 16px;
    }

    @include breakpoint(md) {
        margin-top: 32px;
        font-size: 24px;
    }
}

.fullpage-slide__info-list {
    margin-left: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 14px;

    @include breakpoint(xs) {

    }

    @include breakpoint(sm) {
        font-size: 16px;
    }

    @include breakpoint(md) {
        font-size: 20px;
    }
}

.fullpage-slide__info-listitem {

}

.fullpage-slide__info-listitem:first{
    margin-top: 1em;
}
