.intros {
    width: 100%;
}

.intro {
    display: flex;
    height: 350px;
}

.intro--reverse {
    flex-direction: row-reverse;
}

.intro__box {
    margin: 1em 3em;
    display: flex;
    flex-direction: column;
}

.intro__title {
    font-size: 36px;
    font-family: 'Overpass';
    margin-top: .5em;
}

.intro__image {
    width: 50%;
    height: auto;
    object-fit: cover;
    z-index: 1;
}

.intro__text {
    margin-top: 1em;
    font-size: larger;
}