.faq {

    .faq-body {
        margin: 0 14px;
        padding-bottom: 14px;
    }
    
    .faq-row-wrapper {
    
    }
    
    .faq-row {
    
    }
    
    .row-title {
        margin-left: 4px;
        
        @include breakpoint(sm) {
            margin-left: 2em;
        }
    }

    .row-title-text {
        font-family: 'Goldman', cursive;
        // font-size: 1.25em;
    }

    // .row-title.expanded + .row-content {
    //     margin: .5em 3em;
    // }

    .icon-wrapper {

    }
}

