.team {
    
}

.team_members {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.team__member {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    overflow: hidden;
    height: 250px;
    background-color: white;
    position: relative;
    border: 2px solid black;
    margin: 1em;
}

.team__memberinfo {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: white;
}

.team__membername {

}

.team__memberpos {

}