.team {
    
}

.team__members {
    display: flex;
    justify-content: space-evenly;
}

.team__member {
    border-radius: 50%;
    overflow: hidden;
    height: 250px;
    background-color: white;
    position: relative;
    border: 2px solid black;
    margin: 1em;
    width: 250px;
}

.team__memberinfo {
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: white;
}

.team__memberimage {
    width: 100%;
    object-fit: contain;
}

.team__membername {

}

.team__memberpos {

}