.fullpage {

}

.fullpage__slide-first {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fullpage__slide-second {
    display: flex;
    flex-direction: column;
}

.fullpage__slide-third {

}

.fullpage__slide-fourth {

}

.fullpage__title {
    text-align: center;
}