// Fonts:

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Overpass:ital,wght@0,100;0,200;0,400;0,800;1,700&family=Source+Serif+Pro:wght@300;600&display=swap');

// Colors:

$color_main: #005f49;
$color_sub: gray;
$color_text: orange;
$color_title: white;
